<h1>New Question</h1>
<%= @question.errors.full_messages.join(". ") %>
  <%# form for takes in an ActiveRecord object as a first argument.
  Then it looks at the object. If the object is not persisted (not yet
  saved to the database) The form will automatically use POST for its
  'method'. It will also automatically use 'questions_path' as its action
  (convention is that the 'questions_path' will submit to the 'create'
  action)  %>
  <%= form_for @question do |f| %>
  <%# we call 'f' the 'form object' %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit %>
    </div>

  <% end %>
