<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<p>View Count: <%= @question.view_count  %></p>

<p><%= @question.created_at %></p>

<p>Category: <%= @question.category_name %> </p>

<p>Created By: <%= @question.user_full_name %>
<hr>

<%# FAVOURITES %>

<div id="question-favourite">
  <%= render "/favourites/question_favourite" %>
</div>




<%# VOTES %>
<% vote = @question.vote_for(current_user) %>

<% if !vote %>
  <%= link_to "Vote Up", question_votes_path(@question, {vote: {is_up: true}}),
                                           method: :post %>
  <%= @question.vote_result %>
  <%= link_to "Vote Down", question_votes_path(@question, {vote: {is_up: false}}),
                                           method: :post %>
<% elsif vote.is_up? %>
  <%= link_to "Remove Vote Up", question_vote_path(@question, vote),
                                                   method: :delete %>
  <%= @question.vote_result %>
  <%= link_to "Vote Down", question_vote_path(@question, vote,
                           {vote: {is_up: false}}), method: :patch %>
<% else %>
  <%= link_to "Vote Up", question_vote_path(@question, vote,
                                  {vote: {is_up: true}}), method: :patch %>
  <%= @question.vote_result %>
  <%= link_to "Remove Vote Down", question_vote_path(@question, vote),
                        method: :delete %>

<% end %>
<hr>


<div id="question-like">
  <%= render "/likes/question_like" %>
</div>


<hr>
<% if can? :edit, @question %>
  <%= link_to "Edit", edit_question_path(@question) %>
<% end %>
<%# method: :delete asks rails to send a DELETE request instead of
GET which is accomplished using Javascript/jQuery %>

<% if can? :destroy, @question %>
<%= link_to "Delete",
          question_path(@question), method: :delete,
          data: {confirm: "Are you sure"} %>

<% end %>

<h2>Answers</h2>
<h3>Create an Answer</h3>
<div id="answer-form">
  <%= render "/answers/form" %>
</div>

<div class="answers">
  <% @question.answers.each do |ans| %>
    <%= render "/answers/answer", answer: ans %>
  <% end %>
</div>
